.home {
  &__banner {
    width: 100%;
    height: 350px; //25vh
    background: url("/assets/petshopImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 1366px) {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__product {
    margin: 100px auto 0;
    width: 25%;
    display: inline-block;
    align-items: center;
  }
}
